In [1]:
import pandas as pd
from datetime import datetime
from geopy.distance import geodesic

In [46]:
csv_list = ['JC-201806-citibike-tripdata.csv', 'JC-201805-citibike-tripdata.csv', 'JC-201804-citibike-tripdata.csv', 
            '201803_citibikejc_tripdata.csv', '201802_citibikejc_tripdata.csv', '201801_citibikejc_tripdata.csv',
            'JC-201712-citibike-tripdata.csv', 'JC-201711-citibike-tripdata.csv', 'JC-201710-citibike-tripdata.csv', 
            'JC-201709-citibike-tripdata.csv', 'JC-201708 citibike-tripdata.csv', 'JC-201707-citibike-tripdata.csv',
            'JC-201706-citibike-tripdata.csv',
           ]

df_list = []

for csv in csv_list:
    
    starttime = []
    stoptime = []
    startdate = []
    stopdate = []

    df = pd.read_csv(csv)
    
    for index, row in df.iterrows():
        old_start_date = row['starttime']
        old_stop_date = row['stoptime']
        
        startdate.append(old_start_date[0:10])
        starttime.append(old_start_date[11:19])
        stopdate.append(old_stop_date[0:10])
        stoptime.append(old_stop_date[11:19])

    df['startdate'] = startdate 
    df['stopdate'] = stopdate
    df['starttime'] = starttime
    df['stoptime'] = stoptime
    
    df_list.append(df)

In [47]:
[june2018_df, may2018_df, april2018_df, 
 march2018_df, feb2018_df, jan2018_df, 
 dec2017_df, nov2017_df, oct2017_df, 
 sep2017_df, aug2017_df, july2017_df, june2017_df] = df_list

In [48]:
df = pd.concat(df_list)
df = df.drop(['end station id', 'start station id', 'usertype', 'bikeid', 'name_localizedValue0', 'birth year', 'gender'], axis=1)
df = df.reset_index(drop=True)

In [50]:
distance = []

for index, row in df.iterrows():
    start = row['start station latitude'], row['start station longitude']
    end = row['end station latitude'], row['end station longitude']
    distance.append(geodesic(start, end).miles)

In [51]:
print(len(distance), len(df))

352539 352539

In [52]:
df['distance between stations (mi)'] = distance

In [53]:
df.head()

,end station latitude,end station longitude,end station name,start station latitude,start station longitude,start station name,startdate,starttime,stopdate,stoptime,tripduration,distance between stations (mi)
0,40.714584,-74.042817,Marin Light Rail,40.716247,-74.033459,Exchange Place,2018-06-01,07:07:00,2018-06-01,07:12:30,329,0.504560
1,40.712419,-74.038526,Morris Canal,40.716247,-74.033459,Exchange Place,2018-06-01,08:24:43,2018-06-01,08:29:03,259,0.374889
2,40.727224,-74.033759,Newport PATH,40.716247,-74.033459,Exchange Place,2018-06-01,09:17:49,2018-06-01,09:29:16,686,0.757575
3,40.712419,-74.038526,Morris Canal,40.716247,-74.033459,Exchange Place,2018-06-01,09:44:00,2018-06-01,09:46:44,164,0.374889
4,40.727596,-74.044247,Hamilton Park,40.716247,-74.033459,Exchange Place,2018-06-01,09:59:28,2018-06-01,10:12:18,769,0.966462

In [ ]:
#  df.to_excel('CitiBikeClean.xlsx')

In [ ]:
for df in df_list:
    print(df.sum())

In [ ]:
df.sum()

In [ ]:
df.count()