In [1]:
import pandas as pd
from datetime import datetime
from geopy.distance import geodesic

In [23]:
csv_list = ['../old data/JC-201806-citibike-tripdata.csv', '../old data/JC-201805-citibike-tripdata.csv', '../old data/JC-201804-citibike-tripdata.csv', 
            '../old data/201803_citibikejc_tripdata.csv', '../old data/201802_citibikejc_tripdata.csv', '../old data/201801_citibikejc_tripdata.csv',
            '../old data/JC-201712-citibike-tripdata.csv', '../old data/JC-201711-citibike-tripdata.csv', '../old data/JC-201710-citibike-tripdata.csv', 
            '../old data/JC-201709-citibike-tripdata.csv', '../old data/JC-201708 citibike-tripdata.csv', '../old data/JC-201707-citibike-tripdata.csv',
            '../old data/JC-201706-citibike-tripdata.csv',
           ]

df_list = []

for csv in csv_list:
    
    starttime = []
    stoptime = []
    startdate = []
    stopdate = []

    df = pd.read_csv(csv)
    
    for index, row in df.iterrows():
        old_start_date = row['starttime']
        old_stop_date = row['stoptime']
        
        startdate.append(old_start_date[0:10])
        starttime.append(old_start_date[11:19])
        stopdate.append(old_stop_date[0:10])
        stoptime.append(old_stop_date[11:19])

    df['startdate'] = startdate
    df['stopdate'] = stopdate
    df['starttime'] = starttime
    df['stoptime'] = stoptime
    
    df_list.append(df)

In [24]:
for df in df_list:
    
    distance = []
    
    for index, row in df.iterrows():
        start = row['start station latitude'], row['start station longitude']
        end = row['end station latitude'], row['end station longitude']
        distance.append(geodesic(start, end).miles)
        
    df['distance between stations (mi)'] = distance

In [25]:
[june2018_df, may2018_df, april2018_df, 
 march2018_df, feb2018_df, jan2018_df, 
 dec2017_df, nov2017_df, oct2017_df, 
 sep2017_df, aug2017_df, july2017_df, june2017_df] = df_list

In [27]:
sep2017_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,startdate,stopdate,distance between stations (mi)
0,364,00:02:01,00:08:05,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29670,Subscriber,1989.0,1,2017-09-01,2017-09-01,0.504560
1,357,00:08:12,00:14:09,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,26163,Subscriber,1980.0,1,2017-09-01,2017-09-01,0.611454
2,432,00:10:12,00:17:24,3195,Sip Ave,40.730743,-74.063784,3280,Astor Place,40.719282,-74.071262,26273,Subscriber,1988.0,1,2017-09-01,2017-09-01,0.882874
3,934,00:10:11,00:25:46,3272,Jersey & 3rd,40.723332,-74.045953,3207,Oakland Ave,40.737604,-74.052478,26297,Subscriber,1991.0,1,2017-09-01,2017-09-01,1.042684
4,932,00:10:16,00:25:48,3272,Jersey & 3rd,40.723332,-74.045953,3207,Oakland Ave,40.737604,-74.052478,29247,Subscriber,1993.0,2,2017-09-01,2017-09-01,1.042684

In [20]:
df = pd.concat(df_list)
df = df.drop(['end station id', 'start station id', 'usertype', 'bikeid', 'name_localizedValue0', 'birth year', 'gender'], axis=1)
df = df.reset_index(drop=True)

In [ ]:
#  df.to_excel('CitiBikeClean.xlsx')

In [28]:
month_df = [june2018_df, may2018_df, april2018_df, 
             march2018_df, feb2018_df, jan2018_df, 
             dec2017_df, nov2017_df, oct2017_df, 
             sep2017_df, aug2017_df, july2017_df, june2017_df]

for df in month_df:
    print(df['distance between stations (mi)'].mean())

0.6247389673532711
0.6149270836851513
0.5984788573571053
0.5801936366999757
0.582580444745335
0.5726492404001396
0.5744127329471395
0.6019191880219191
6.642094163935306
99.69740171956717
21.302415768059124
0.6563804838062786
0.6590275839749076

In [35]:
sep2017_df['distance between stations (mi)'].max()

5389.7640751643867

In [36]:
df_clean = df.dropna()

In [ ]:
df_clean.to_e