In [77]:
import pandas as pd
import numpy as np
from datetime import datetime
from geopy.distance import geodesic

In [78]:
csv_list = ['../old data/JC-201806-citibike-tripdata.csv', '../old data/JC-201805-citibike-tripdata.csv', '../old data/JC-201804-citibike-tripdata.csv', 
            '../old data/201803_citibikejc_tripdata.csv', '../old data/201802_citibikejc_tripdata.csv', '../old data/201801_citibikejc_tripdata.csv',
            '../old data/JC-201712-citibike-tripdata.csv', '../old data/JC-201711-citibike-tripdata.csv', '../old data/JC-201710-citibike-tripdata.csv', 
            '../old data/JC-201709-citibike-tripdata.csv', '../old data/JC-201708 citibike-tripdata.csv', '../old data/JC-201707-citibike-tripdata.csv',
            '../old data/JC-201706-citibike-tripdata.csv',
           ]

df_list = []

for csv in csv_list:
    
    starttime = []
    stoptime = []
    startdate = []
    stopdate = []

    df = pd.read_csv(csv)
    
    for index, row in df.iterrows():
        old_start_date = row['starttime']
        old_stop_date = row['stoptime']
        
        startdate.append(old_start_date[0:10])
        starttime.append(old_start_date[11:19])
        stopdate.append(old_stop_date[0:10])
        stoptime.append(old_stop_date[11:19])

    df['startdate'] = startdate
    df['stopdate'] = stopdate
    df['starthour'] = starttime
    df['stophour'] = stoptime
    
    df_list.append(df)

In [79]:
for df in df_list:
    
    distance = []
    
    for index, row in df.iterrows():
        start = row['start station latitude'], row['start station longitude']
        end = row['end station latitude'], row['end station longitude']
        distance.append(geodesic(start, end).miles)
        
    df['distance between stations (mi)'] = distance

In [84]:
df = pd.concat(df_list)
df = df.drop(['end station id', 'start station id', 'usertype', 'bikeid', 'name_localizedValue0'], axis=1)
df = df.reset_index(drop=True)

In [87]:
[june2018_df, may2018_df, april2018_df, 
 march2018_df, feb2018_df, jan2018_df, 
 dec2017_df, nov2017_df, oct2017_df, 
 sep2017_df, aug2017_df, july2017_df, june2017_df] = df_list

In [88]:
len(df)

352539

In [85]:
df.head(10)

,birth year,distance between stations (mi),end station latitude,end station longitude,end station name,gender,start station latitude,start station longitude,start station name,startdate,starthour,starttime,stopdate,stophour,stoptime,tripduration
0,1991.0,0.504560,40.714584,-74.042817,Marin Light Rail,1,40.716247,-74.033459,Exchange Place,2018-06-01,07:07:00,2018-06-01 07:07:00.2990,2018-06-01,07:12:30,2018-06-01 07:12:30.2220,329
1,1989.0,0.374889,40.712419,-74.038526,Morris Canal,2,40.716247,-74.033459,Exchange Place,2018-06-01,08:24:43,2018-06-01 08:24:43.8490,2018-06-01,08:29:03,2018-06-01 08:29:03.8450,259
2,1990.0,0.757575,40.727224,-74.033759,Newport PATH,1,40.716247,-74.033459,Exchange Place,2018-06-01,09:17:49,2018-06-01 09:17:49.5730,2018-06-01,09:29:16,2018-06-01 09:29:16.1770,686
3,1993.0,0.374889,40.712419,-74.038526,Morris Canal,1,40.716247,-74.033459,Exchange Place,2018-06-01,09:44:00,2018-06-01 09:44:00.4020,2018-06-01,09:46:44,2018-06-01 09:46:44.6830,164
4,1977.0,0.966462,40.727596,-74.044247,Hamilton Park,1,40.716247,-74.033459,Exchange Place,2018-06-01,09:59:28,2018-06-01 09:59:28.7800,2018-06-01,10:12:18,2018-06-01 10:12:18.6660,769
5,1984.0,0.374889,40.712419,-74.038526,Morris Canal,1,40.716247,-74.033459,Exchange Place,2018-06-01,10:33:02,2018-06-01 10:33:02.1100,2018-06-01,10:37:18,2018-06-01 10:37:18.1230,256
6,1988.0,0.398911,40.716490,-74.041050,York St,1,40.716247,-74.033459,Exchange Place,2018-06-01,11:33:22,2018-06-01 11:33:22.6440,2018-06-01,11:37:50,2018-06-01 11:37:50.0350,267
7,1976.0,0.556987,40.719586,-74.043117,Grove St PATH,1,40.716247,-74.033459,Exchange Place,2018-06-01,12:07:49,2018-06-01 12:07:49.8830,2018-06-01,12:12:08,2018-06-01 12:12:08.0190,258
8,1976.0,0.287536,40.712774,-74.036486,Essex Light Rail,1,40.716247,-74.033459,Exchange Place,2018-06-01,12:53:24,2018-06-01 12:53:24.8470,2018-06-01,13:14:11,2018-06-01 13:14:11.8770,1247
9,1989.0,1.900129,40.725340,-74.067622,McGinley Square,1,40.716247,-74.033459,Exchange Place,2018-06-01,13:21:09,2018-06-01 13:21:09.2160,2018-06-01,13:33:50,2018-06-01 13:33:50.9930,761

In [ ]:
df.to_excel('CitiBikeClean.xlsx')

In [74]:
month_df = [june2018_df, may2018_df, april2018_df, 
             march2018_df, feb2018_df, jan2018_df, 
             dec2017_df, nov2017_df, oct2017_df, 
             sep2017_df, aug2017_df, july2017_df, june2017_df]

for df in month_df:
    print(len(df))

40937
34455
23634
17109
15104
12677
15898
23582
34919
33119
35472
33573
32060

In [73]:
df_clean['end station latitude'].max()

nan

In [76]:
print(len(df), len(df_clean))

32060 0

In [42]:
# df_clean.to_excel('CitiBikeCLEANER.xlsx')

In [ ]:
df_clean.head(-50)